.diagrammMain {
  margin-top: 10px;
  animation: start 1s;
}

.diagrammMain::-webkit-scrollbar {
  width: 0;
}

@keyframes start {
  0% {
    translate: -150px;
    opacity: 0;
  }

  100% {
    opacity: 1;
    translate: 0;
  }
}

.diagrammMainName {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 10px;
  text-align: center;
}

.diagrammMainDiagramm {
  margin-top: 50px;
  height: 370px;
  display: flex;
  justify-content: center;
}

.select {
  display: flex;
}

.selectText {
  flex: 3;
  text-align: end;
}

.selectValue {
  flex: 2;
  text-align: left;
  margin-left: 3px;
  font-weight: bold;
}