.item {
    display: flex;
    margin-top: 20px;

}

.title {
    margin:0 auto;
    width: 550px;
    font-size: 22px;
    text-align: center;
    animation: var(--animTitle), var(--animRename)
}
.form {
    margin-top: 30px;
    flex: 2;
    animation: var(--animForm);
}

.instruction {
    flex: 3;
    margin-top: 10px;
    animation: var(--animInf);
}

.selectCateg > div {
    background: none !important;
}
.selectCateg>div>span {
    /* font-weight: bold; */
    color: black !important;
    font-size: 16px;
}

