
.incomeName {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}

.formIncomeFild {
    /* translate: -50px; */
/* margin-right: 50px; */
    animation: vis 0.7s;
    /* transition: translate 0.7s; */
}
@keyframes vis {
    0% {
        opacity: 0;
        translate: 0 -100px;
    }
    100% {
        opacity: 1; 
        translate: 0px;
    }
}


/* Общая кнопка */
.incomeButton {

display: flex;
justify-content: center;
margin: 20px 0px;
animation: visButton 0.7s;
}

@keyframes visButton {
    0% {
        opacity: 0;
        translate: 0 100px;
    }
    100% {
        opacity: 1; 
        translate: 0px;
    }
}