
.title {
    font-size: 22px;
    text-align: center;
}

.mainRelativity {
    margin: 20px;
}

.button button{
    margin-top: 20px;
    margin-right: 10px;
}
.nameArrow {
display: flex;
}


/* Блок шагов инструкций */
.RelativityBloc {
   
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}
.Relativity {
    flex: 2;
}
.instruction {
    flex: 3;
    margin-top: 10px;
}
.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}


/* Поля ввода относительной величины */
.relativityBloc { 
    flex: 1;

margin-right: 70px;
}
.relativityBloc label {
font-weight: bold;
}
.relativityBlocField {
width: 120px;
}
.relativityBlocField1 {
    width: 128px;
}


