.statistic {
    display: flex;
    margin-right: 20px;
    margin-bottom: 20px;
}


/* Выбор категории и периода */
.period {
    flex: 1;
}



/* Таблицы */
.tables {
flex: 5;
display: flex;
}

.tableCategory {
flex: 1;
}

.tableDate {
flex: 2;
}





