.statistic {
    display: flex;
    margin-right: 10px;
    margin-bottom: 20px;
}

.statisticItem1 {
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 20px;
}

.statisticItem2 {
    flex: 7;
}



.categoryStatistic {
    flex: 1;
    flex-direction: column;
    margin-bottom: 10px;
}
.categoryStatisticName {
    font-weight: bold;
    font-size: 15px;
}


.period {
    flex: 1;
    margin-bottom: 30px;
}

.statisticName {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
    text-align: center;
}

.option option {
    text-align: center;
}

.option {
    font-size: 16px;
    margin-top: 5px;
    height: 30px;
    width: 170px;
    border-radius: 5px;
}

.periodStatistic {
    display: flex;
}

.periodStatistic label {
    flex: 1;
    margin-right: 3px;
}



/* Стрелка валидации */

.nameArrow {
display: flex;
}