/* общий контейнер */
.categoryStatistic {
    margin-right: 20px;
}



/* Выбор категории */
.category {
    margin-bottom: 20px;
}

.categoryStatisticName {
    font-weight: bold;
    font-size: 15px;
}





