.graff {
    height: 500px;
    margin-bottom: 20px;
    animation: vis 0.7s;
}

@keyframes vis {
    0% {
        opacity: 0;
        translate: -400px;
    }

    100% {
        opacity: 1;
        translate: 0px;
    }
}