.title {
    font-size: 22px;
    text-align: center;
    animation: var(--animTitle), var(--animAdd);
}

.item {
    display: flex;
    margin-top: 20px;
}

.form {
    flex: 2;
    animation: var(--animForm);
}

.instruction {
    flex: 3;
    padding: 0px;
    margin-top: 10px;
    animation: var(--animInf);
}

.square {
    padding: 1px;
}

.inform {
    margin-left: 10px;
}

.colorCategory {
    display: flex;
}

.name {
    flex: 1;
}

.nameColor {
    flex: 3;
}

.legend {
    width: 20px;
    display: inline-block;
}