
  .popup img {
    height: 150px;
    width: 75px;
  }


  /* анимация */
.popup {
  position: relative;
  width: 250px;
  display: inline-block;
 
}

/* The actual popup (appears on top) */
.popup .popuptext {
  font-style: italic;
  font-size: 14px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 133px;
  left: 21%;
  visibility: hidden;
}

/* Popup arrow */
.popup .show::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 15%;
  margin-left: -7px;
  border-width: 7px;
  border-style: solid;
  border-color: #555 transparent  transparent transparent;
}

/* Toggle this class when clicking on the popup container (hide and show the popup) */
.popup .show {
  font-style: italic;
  font-size: 14px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 20px;
  padding: 8px;
  position: absolute;
  z-index: 1;
  bottom: 133px;
  left: 21%;
  visibility: visible;
  -webkit-animation: fadeIn 2s;
  animation: fadeIn 2s
}


/* Add animation (fade in the popup) */
@-webkit-keyframes fadeIn {
  from {opacity: 0;}
   50% { opacity:0.5} 
  to {opacity: 1;}
}

@keyframes fadeIn {
  from {opacity: 0;}
   50% {opacity:0.5} 
  to {opacity:1 ;}
}
img {
  cursor: pointer;
}