.fieldBynUsd {
background-color: rgb(204, 163, 204);
border-color: rgb(204, 163, 204);
border-radius: 10px;
text-align: center;
font-weight: bold;
font-size: 15px;
}

.fieldBynUsd:hover {
    border-color:green;
}
.fieldBynUsd:focus {
    outline: none;
}
