
/* Общий контейнер */
.statisticDateTable {
    margin-bottom: 20px;
    text-align: center;
    margin-right: 10px;
}


/* блок таблицы */
.statisticTable {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}

/* название таблицы */

.statisticName {
    display: flex;
}

.statisticNameDate {
    font-weight: bold;
    flex: 2;
    text-align: center;
}

.statisticNameSumm {
    font-weight: bold;
    flex: 1;
    text-align: center;
}


/* таблица */

.table {
    display: flex;
}

.tableTime {
    flex: 2;
    border: solid black 1px;
    border-right: none;
}

.tableNum {
    flex: 1;
    text-align: center;
    border: solid black 1px;
}



/* Потрачено на ... */
.statisticDateSumm {
    margin-top: 10px;
}

.categorySumm {
    font-weight: bold;
    border-bottom: solid 1px;
}



/* Выравнивание итогового числа и валюты  */
.totalCategory {
    display: flex;
    justify-content: center;
}
