
/* Общий контейнер */
.statisticDateTable {
    margin-bottom: 20px;
    text-align: center;
    margin-right: 10px;
}


/* блок таблицы */
.statisticTable {
    display: flex;
    flex-direction: column;
    margin: 0px 20px;
}


.row > td{
    padding: 0px !important
    } 
    


/* Потрачено на ... */
.statisticDateSumm {
    margin-top: 10px;
}

.categorySumm {
    font-weight: bold;
    border-bottom: solid 1px;
}



/* Выравнивание итогового числа и валюты  */
.totalCategory {
    display: flex;
    justify-content: center;
}
