/* общий контейнер */
.categoryStatistic {
    margin-right: 20px;
}



/* Выбор категории */
.category {
    margin-bottom: 20px;
}

.categoryStatisticName {
    font-weight: bold;
    font-size: 15px;
}



.qqq>div {
    background: none !important;
}

.qqq>div>span {
    /* font-weight: bold; */
    color: black !important;
    font-size: 16px;
}