.salary {
display: flex;
align-items: center;

}

.salaryValue {
    margin-left: 5px;
    font-size: 20px;
   
}
.salaryValuta { 
    margin-left: 3px;
    font-size: 18px;
}



/* Классы переключателя валюты */

.fieldBynUsd {
    background-color: rgb(204, 163, 204);
    border-color: rgb(204, 163, 204);
    border-radius: 10px;
    }
    
    .fieldBynUsd:hover {
        border-color:green;
    }
    .fieldBynUsd:focus {
        outline: none;
    }
    
    
    