
.incomeName {
    font-weight: bold;
    font-size: 20px;
    margin-top: 20px;
    margin-bottom: 10px;
}


/* Блок со стрелкой валидации */
.nameArrow {
    display: flex;
    }
    

.incomeBloc {
flex: 9;
display: flex;
flex-direction: column;
}

.incomeItem {  
display: flex;
}

.incomeItem label{
flex: 2;

}



/* Переключатель валюты */

.fieldBynUsd {
    background-color: rgb(204, 163, 204);
    border-color: rgb(204, 163, 204);
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.fieldBynUsd:hover {
    border-color: green;
}

.fieldBynUsd:focus {
    border-color: green;
}




.formExpenses {
    margin-top: 20px;
    margin-left: 10px;  
}
.formIncomeFild{
 margin-bottom: 20px;
}

.fieldName {
    width: 108px;
    text-align: center;
}

.formItemsField {
width: 100px;
}


.formItemsField::-webkit-outer-spin-button,
.formItemsField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


/* Кнопки */
.formItemsButton {
    display: flex;
    margin-top: 10px;
    margin-bottom: 10px;
     justify-content: flex-end; 
}
.formItemsButton button {
    margin-right: 5px;
}

/* Общая кнопка */
.incomeButton {
display: flex;
justify-content: center;
margin: 20px 0px;
}