.inputColorValue {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 25px;
    height: 30px;
    
}

.title {
    font-size: 22px;
    text-align: center;
}

.changeСolor {
 margin: 20px;

}

.item {
display: flex;
align-items: center;
}

.itemName {
}

.button {
margin-top: 20px;
}


