/* Общий контейнер */
.statisticDateTable {
    text-align: center;
}

.statisticDateTable>div {
    margin-bottom: 3px;
}

/* блок таблицы */
.statisticTable {
    display: flex;
    flex-direction: column;
}

.row>td {
    padding: 0px !important
}

/* Потрачено на ... */
.categorySumm {
    font-weight: bold;
    border-bottom: solid 1px;
}

/* Выравнивание итогового числа и валюты  */
.totalCategory {
    display: flex;
    justify-content: center;
}