

.formExpensesFild{
    display: flex;
    flex-direction: column;
}


.formItems {
display: flex;
}
.formItemsField {
    width: 100px;
}


.formItemsField::-webkit-outer-spin-button,
.formItemsField::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.formItemsLabel{
    flex: 1;
}


.formExpensesName {
    font-weight: bold;
    font-size: 20px;
    margin-bottom: 10px;
}




/* Общая кнопка */
.buttonExpenses {
    display: flex;
justify-content: center;
margin-bottom: 20px;
}


