
.title {
    font-size: 22px;
    text-align: center;
}


.instruction {
    flex: 3;
    margin-top: 20px;
}
.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}


.relativity {
display: flex;
}

.form {
    margin-top: 50px;
    flex: 2;
}


