.title {
    font-size: 22px;
    text-align: center;
    animation: var(--animTitle), var(--animRelativ);
}

.instruction {
    flex: 5;
    margin-top: 20px;
    animation: var(--animInf);
}

.relativity {
    display: flex;
}

.form {
    margin-top: 50px;
    flex: 3;
    animation: var(--animForm);
}