.statisticDateTable {
    text-align: center;
   }

.statisticDateTable button{
       margin-top: 10px;
   }

.select {
    background-color: rgb(204, 163, 204);
    border-color: rgb(204, 163, 204);
    border-radius: 10px;
    font-size: 15px;
    margin: 0px 3px;
    font-weight: bold;
    }
    
    .select:hover {
        border-color:green;
    }
    .select:focus {
        outline: none;
    }
    