.item {
    display: flex;
    flex-direction: column;
    margin-top: 30px;

}

.buttonItem {
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttonItem button {
    margin-right: 10px;
}



.title {
    font-size: 22px;
    text-align: center;
}

.nameInput label {
    font-weight: bold;
}

.renameCategoryBloc {
    display: flex;
    flex-direction: row;
}

.renameCategory {
    flex: 1;
    margin-left: 30px;
}

.instruction {
    flex: 2;
    margin-top: 10px;
}

.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}

.listCategory {
    margin-top: 0;
}

.option {
height: 21px;
  width: 178px;
}

.nameArrow {
display: flex;
align-items: flex-end; 
}
.nameInput {
    flex: 1;
}
