.item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.buttonItem {
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttonItem button {
    margin-right: 10px;
}

.validColor {
    margin-left: 10px;
    padding-left: 5px;
    padding-right: 5px;
    border: solid red 1px;
    border-radius: 10px;
}

.title {
    font-size: 22px;
    text-align: center;
}

.nameInput label {
    font-weight: bold;
}

.renameCategoryBloc {
    display: flex;
    flex-direction: row;
}

.renameCategory {
    flex: 1;
}

.instruction {
    flex: 2;
    margin-top: 10px;
}

.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}

.listCategory {
    margin-top: 0;
}

.option {
    height: 25px;
    width: 120px;
}