

.statisticDateTable {
    text-align: center;
   }



.statisticTable {
    display: flex;
    flex-direction: column;
    margin: 10px 50px 0px 50px;
    border-bottom: solid 2px black;
}
 
.row > td{
padding: 0px !important;
} 



/* Всего потрачено */
.totalSumm {
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.delete {
    cursor: pointer;
    position: absolute;
    top: 2%;
    left: 110%;
    color: rgb(238, 76, 76);
    font-size: 20px;
}
.delete:hover {
    font-size: 24px;
    top: 1%;
}