
.select {
    display: flex;
}

.selectText {
    flex: 2;
    text-align: end;
}

.selectValue {
    flex: 1;
    text-align: left;
    margin-left: 3px;
}

.diagramm {
display: flex;
text-align: left;
}