
/* Поле обновления ЗП */
.salaryUpdate {
    font-weight: bold;
    font-size: 20px;
    border: solid red 2px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}



/* Поле ЗП */
.salaryValue {
    display: flex;
    align-items: flex-end;
}

.salaryName {
    font-weight: bold;
    font-size: 20px;
}



/* Переключатель валюты */

.fieldBynUsd {
    background-color: rgb(204, 163, 204);
    border-color: rgb(204, 163, 204);
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.fieldBynUsd:hover {
    border-color: green;
}

.fieldBynUsd:focus {
    border-color: green;
}

/* Блок ввода ЗП */

.salary {
    display: flex;
    margin-left: 40px;
}

.salaryAddBloc {
    display: flex;
    flex-direction: column;
}

.inputSalary {
    width: 60px;
}
.inputSalary::-webkit-outer-spin-button,
.inputSalary::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}



/* Кнопки */
.buttonSalary {
    margin-left: 30px;
}

.buttonSalary button {
    margin-right: 5px;
}


