.salaryUpdate {
    font-weight: bold;
    font-size: 20px;
    border: solid red 2px;
    border-radius: 10px;
    text-align: center;
    margin-bottom: 10px;
}

/* Переключатель валюты */

.fieldBynUsd {
    background-color: rgb(204, 163, 204);
    border-color: rgb(204, 163, 204);
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

.fieldBynUsd:hover {
    border-color: green;
}

.fieldBynUsd:focus {
    outline: none;
    
}

/* Блок ввода ЗП */

.salary {
    display: flex;
    margin-left: 40px;
}

.salaryAddBloc {
    display: flex;
    flex-direction: column;
}

.salaryAdd {}

.inputSalary {
    width: 60px;
}

.valutaAdd {}




/* Кнопки */
.buttonSalary {
    margin-left: 30px;
}

.buttonSalary button {
    margin-right: 5px;
}


.salaryValue {
    display: flex;
}

.salaryName {
    font-weight: bold;
    font-size: 20px;
}