.title {
    font-size: 22px;
    text-align: center;
    animation: var(--animTitle), var(--animDelete);
}

.delet {
    display: flex;
    margin-top: 20px;
}

.form {
    flex: 1;
    animation: var(--animForm)
}

.instruction {
    flex: 2;
    margin-top: 10px;
    animation: var(--animInf);
}

.selectCateg>div {
    background: none !important;
}

.selectCateg>div>span {
    /* font-weight: bold; */
    color: black !important;
    font-size: 16px;
}