.Legend {
    display: flex;
    flex-direction: column;
    margin-left: 20px;
    margin-top: 30px;
}

.legend {
    width: 20px;
    display: inline-block;
}


.inputColorValue {
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 25px;
    height: 30px;
    
}