.title {
    font-size: 22px;
    text-align: center;
    animation: var(--animTitle), var(--animColor);
}

.color {
    display: flex;
}

.form {
    margin-top: 20px;
    flex: 1;
    animation: var(--animForm);
}

.square {
    padding: 0px;
}

.selectCateg>div {
    background: none !important;
}

.selectCateg>div>span {
    /* font-weight: bold; */
    color: black !important;
    font-size: 16px;
}

.instruction {
    flex: 2;
    margin-top: 30px;
    animation: var(--animInf);
}