.title {
    font-size: 22px;
    text-align: center;
}


.salaryDay {
    display: flex;
}

.form {
    margin-top: 20px;
    flex: 1;
}

/* Даты аванса и зарплаты */
.dateItem {
display: flex;
margin-bottom: 10px;
font-size: 16px;
justify-content: end;

}
.dateItem div {
    margin-right: 5px;
}

.dateSalary {
    margin-bottom: 30px;
    margin-right: 150px;
}

.instruction {
    flex: 2;
    margin-top: 30px;
}

.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}