.shadow {
  align-self: center;
  width: 550px;
  padding-top: 30px;
  border: solid 1px #000000;
  border-radius: 30px;
}

.test {
  align-self: center;
  font-size: 20px;

}

.container {
  display: flex;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}

.err {
  /* margin-top: 10vh; */
      margin-left: 22vw;
      font-size: 30px;
}