.title {
    font-size: 22px;
    text-align: center;
}



/* Блоки под названием */
.deleteCategoryBloc {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.deleteCategory {
    flex: 1;
    margin-top: 20px;
    margin-left: 20px; 
}

.instruction {
    flex: 2;
    margin-top: 10px;
}
.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}

/* Поле выбора категории */
.option {
    height: 25px;
    width: 120px;
}

/* Кнопки */
.buttonItem {
    margin-left: 30px;
    margin-bottom: 20px;
}

.buttonItem button {
    margin-right: 10px
}