.item {
    display: flex;
    flex-direction: column;
    margin-top: 10px;

}

.buttonItem {
    margin-top: 10px;
    margin-bottom: 20px;
}

.buttonItem button {
    margin-right: 10px;
}

.title {
    font-size: 22px;
    text-align: center;
}

.deleteCategoryBloc {
    display: flex;
    flex-direction: row;
}

.nameInput {
    flex: 1;
}

.instruction {
    flex: 2;
    margin-top: 10px;
}

.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}


.option {
    height: 25px;
    width: 120px;
}