.title {
    font-size: 22px;
    text-align: center;
}


.delet {
    display: flex;
    margin-top: 20px;
    }
    
    .form {
    flex: 1;
    }




.instruction {
    flex: 2;
    margin-top: 10px;
}
.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}

.selectCateg > div {
    background: none !important;
}
.selectCateg>div>span {
    /* font-weight: bold; */
    color: black !important;
    font-size: 16px;
}





