.salary {
display: flex;
align-items: flex-end;
}

.salaryValue {
    margin-left: 5px;
   
}
.salaryValuta { 
    margin-left: 3px;
}



/* Классы переключателя валюты */

.fieldBynUsd {
    background-color: rgb(204, 163, 204);
    border-color: rgb(204, 163, 204);
    border-radius: 10px;
    }
    
    .fieldBynUsd:hover {
        border-color:green;
    }
    .fieldBynUsd:focus {
        outline: none;
    }
    
    
    