.title {
    font-size: 22px;
    text-align: center;
}


.item {
    display: flex;
    margin-top: 20px;
}
.form {
    flex: 2;
}
.instruction {
    flex: 3;
    margin-top: 10px;
}
.instructionTitle {
    font-size: 17px;
    font-style: italic;
    text-decoration: underline;
    margin-bottom: 10px;
}



.square {
    padding: 1px;
}


.inform {
    margin-left: 10px;
}
.colorCategory {
    display: flex;

}
.name {
    flex: 1;
}
.nameColor {
    flex: 3;
}
.legend {
    width: 20px;
    display: inline-block;
}