.item {
    display: flex;
    flex-direction: column;
margin-top: 10px;

}

.buttonItem {
margin-top: 10px;
}

.buttonItem button {
margin-right: 10px;
}
.color{
    justify-content: end;
    background: none;
    border: none;
    padding: 0px;
    margin: 0px;
    width: 30px;
    height: 30px;
}
.color:hover{
    border: solid green 1px;
}
.colorInput {

}
.nameInput {
  
}